* {
  box-sizing: border-box;
  color: #fff
}

body {
  display: grid;
  grid-template-rows: 130px 1fr 0.5fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "header header"
  "current-temp current-stats"
  "hourly hourly"
  "daily daily";
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  grid-area: header;
  padding: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header>img {
  margin: 0 60px;
  width: 130px;
  height: auto;
}

.query-box {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px grey solid;
  border-radius: 30px;
  max-width: 500px;
  flex: 1;
  background-color: #797979;
}

::placeholder {
  color: #fff;
}

.query-box:focus {
  outline: none;
  border-color: royalblue;
  box-shadow: 1px 1px 5px royalblue;
}

.unit-switch-button {
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 20px;
  margin-left: auto;
  min-width: 60px;
  color: #fff;
  background-color: 
  royalblue;
}

.unit-switch-button:active {
  cursor: pointer;
  color: royalblue;
  background-color: #fff;
  box-shadow: 1px 1px 5px royalblue;
}

.unit-switch-button:hover {
  cursor: pointer;
}

.current-temp {
  border-right: 1px #cccccc solid;
  grid-area: current-temp;
  font-size: 30px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.current-temp .temp {
  font-size: 120px;
}

/* ------- */

.current-stats {
  grid-area: current-stats;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(2, 150px);
  place-content: center;
  gap: 20px;
  padding: 20px 0;
}

.stat-box {
  border: 1.5px #cccccc solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 20px;
}

.stat-box>img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.stat-box>div>div:last-child {
  font-size: 1.8rem;
}

/* ----------- */

.hourly-section {
  grid-area: hourly;
  padding: 30px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(145, 145, 145, 0.5);
}

.hourly-section .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 0;
  border-radius: 50%;
  border: 2px #fff solid;
}

.hourly-section>div>* {
  cursor: pointer;
}

.hourly-weather {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: auto;
}

.hourly-box {
  min-width: calc(100%/8);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  flex: 1 0 auto;
}

.hourly-box>div:last-child {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
  top: -10px;
  left: -10px;
}

/* --- */
.daily-section {
  grid-area: daily;
  padding: 20px 20px;
}

tr img {
  width: 80px;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
}

tr, th {
  border-bottom: 1px #cccccc solid;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
}

tr:last-of-type {
  border-bottom: none;
}


/* utilities */
.hidden {
  display: none;
}

.current {
  background-color: #fff;
}

.bold {
  font-weight: 600;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .header {
    gap: 20px;
  }

  .header img {
    margin: 10px;
  }

  .unit-switch-button {
    margin-left: 0;
    font-size: 10px;
    padding: 10px 30px;
  }

  .current-temp {
    font-size: 20px;
  }

  .current-temp .temp {
    font-size: 50px;
  }
  
  .current-stats {
    grid-area: current-stats;
    display: grid;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: repeat(2, 130px);
    place-content: center;
    gap: 20px;
    padding: 20px 0;
  }

  .stat-box>img {
    width: 35px;
    height: auto;
    margin-right: 5px;
  }
  
  .stat-box>div>div:last-child {
    font-size: 16px
  }

  .hide {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header {
    gap: 10px;
  }

  .current-temp .temp {
    font-size: 80px;
  }

  .header img {
    width: 80px;
    margin: 0;
  }

  .current-temp {
    font-size: 25px;
  }

  .unit-switch-button {
    margin-left: 0;
    padding: 5px 20px;
  }

  .query-box {
    max-width: 250px;
    padding: 5px 15px;
    font-size: 14px;
  }
  
  .header {
    padding: 10px;
    gap: 10px;
  }

  .bold {
    font-weight: 600;
    font-size: 12px;
  }

  body {
    grid-template-rows: 100px 0.5fr 1fr 0.5fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header"
    "current-temp current-temp"
    "current-stats current-stats"
    "hourly hourly"
    "daily daily";
  }

}